body {
  background-image: url("../img/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#app {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #2c3e50;
}

.completed {
  text-decoration: line-through;
  color: red !important;
}

.text-decoration-line-through {
  text-decoration: line-through;
  color: red !important;
}

.card {
  border-radius: 10px;
  background-color: rgb(16 13 13 / 60%);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  color: white;
  cursor: pointer;
  text-align: left;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.mt-5 {
  margin-top: 4rem !important;
}

.recherche {
  margin-top: 5%;
}

.task_user {
  color: lightseagreen;
}
.alertMessage {
  margin-top: 50px;
  margin-bottom: -40px;
  color: red;
  font-weight: bolder;
}

.choix {
  margin-bottom: -2px;
}
